@import "tailwindcss";

@theme {
    --color-primary: #E94D64;
    --color-secondary: #20a0d7;
    --color-accent: #c0e5f7;
    --color-body: #FFFFFF;
    --color-border: #e9e9e9;
    --color-theme-light: #F4CCD2;

    --text-default: #555555;
    --text-dark: #222222;

}